<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yjlc.dao.OpeningWeekTimeMapper" >
  <resultMap id="BaseResultMap" type="com.yjlc.entity.OpeningWeekTime" >
    <id column="subscribe_time_id" property="subscribeTimeId" jdbcType="INTEGER" />
    <result column="subscribe_time_start" property="subscribeTimeStart" jdbcType="TIME" />
    <result column="subscribe_time_end" property="subscribeTimeEnd" jdbcType="TIME" />
    <result column="subscribe_time_description" property="subscribeTimeDescription" jdbcType="VARCHAR" />
    <result column="week" property="week" jdbcType="VARCHAR" />
    <result column="delete" property="delete" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    subscribe_time_id, subscribe_time_start, subscribe_time_end, subscribe_time_description, 
    week, delete, type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from subscriber_time
    where subscribe_time_id = #{subscribeTimeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from subscriber_time
    where subscribe_time_id = #{subscribeTimeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yjlc.entity.OpeningWeekTime" >
    insert into subscriber_time (subscribe_time_id, subscribe_time_start, 
      subscribe_time_end, subscribe_time_description, 
      week, delete, type)
    values (#{subscribeTimeId,jdbcType=INTEGER}, #{subscribeTimeStart,jdbcType=TIME}, 
      #{subscribeTimeEnd,jdbcType=TIME}, #{subscribeTimeDescription,jdbcType=VARCHAR}, 
      #{week,jdbcType=VARCHAR}, #{delete,jdbcType=INTEGER}, #{type,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.yjlc.entity.OpeningWeekTime" >
    insert into subscriber_time
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="subscribeTimeId != null" >
        subscribe_time_id,
      </if>
      <if test="subscribeTimeStart != null" >
        subscribe_time_start,
      </if>
      <if test="subscribeTimeEnd != null" >
        subscribe_time_end,
      </if>
      <if test="subscribeTimeDescription != null" >
        subscribe_time_description,
      </if>
      <if test="week != null" >
        week,
      </if>
      <if test="delete != null" >
        delete,
      </if>
      <if test="type != null" >
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="subscribeTimeId != null" >
        #{subscribeTimeId,jdbcType=INTEGER},
      </if>
      <if test="subscribeTimeStart != null" >
        #{subscribeTimeStart,jdbcType=TIME},
      </if>
      <if test="subscribeTimeEnd != null" >
        #{subscribeTimeEnd,jdbcType=TIME},
      </if>
      <if test="subscribeTimeDescription != null" >
        #{subscribeTimeDescription,jdbcType=VARCHAR},
      </if>
      <if test="week != null" >
        #{week,jdbcType=VARCHAR},
      </if>
      <if test="delete != null" >
        #{delete,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yjlc.entity.OpeningWeekTime" >
    update subscriber_time
    <set >
      <if test="subscribeTimeStart != null" >
        subscribe_time_start = #{subscribeTimeStart,jdbcType=TIME},
      </if>
      <if test="subscribeTimeEnd != null" >
        subscribe_time_end = #{subscribeTimeEnd,jdbcType=TIME},
      </if>
      <if test="subscribeTimeDescription != null" >
        subscribe_time_description = #{subscribeTimeDescription,jdbcType=VARCHAR},
      </if>
      <if test="week != null" >
        week = #{week,jdbcType=VARCHAR},
      </if>
      <if test="delete != null" >
        delete = #{delete,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
    </set>
    where subscribe_time_id = #{subscribeTimeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yjlc.entity.OpeningWeekTime" >
    update subscriber_time
    set subscribe_time_start = #{subscribeTimeStart,jdbcType=TIME},
      subscribe_time_end = #{subscribeTimeEnd,jdbcType=TIME},
      subscribe_time_description = #{subscribeTimeDescription,jdbcType=VARCHAR},
      week = #{week,jdbcType=VARCHAR},
      delete = #{delete,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER}
    where subscribe_time_id = #{subscribeTimeId,jdbcType=INTEGER}
  </update>
</mapper>